// App.jsx
import React from "react";
import { BrowserRouter as Router, Switch, Route } from "react-router-dom";
import LandingPage from "./LandingPage";
import HomePage from "./HomePage";
import "./styles.css"; // Import the styles

const App = () => {
  return (
    <Router>
      <Switch>
        <Route exact path="/" component={LandingPage} />
        <Route path="/home" component={HomePage} />
      </Switch>
    </Router>
  );
};

export default App;

// LandingPage.jsx
import React from "react";
import { useHistory } from "react-router-dom";
import "./styles.css"; // Import the styles

const LandingPage = () => {
  const history = useHistory();

  const handleButtonClick = () => {
    history.push("/home");
  };

  return (
    <div>
      <h1>Landing Page</h1>
      <img
        src="C:\Users\tony_\OneDrive\Escritorio\pi-pokemon\PI-Pokemon-main\pokemon.png"
        alt="POKEMON"
      />
      <button onClick={handleButtonClick}>Go to Home Page</button>
    </div>
  );
};

export default LandingPage;

// styles.css
body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5bbf58a6-1e85-4cfe-83fd-02df6f482b45/de8nlib-6bed7b3d-3d7e-4763-bb60-18f5ee0127fd.png/v1/fill/w_1024,h_652,q_80,strp/background_prairie_pokemon_screencapture_by_nemotrex_de8nlib-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjUyIiwicGF0aCI6IlwvZlwvNWJiZjU4YTYtMWU4NS00Y2ZlLTgzZmQtMDJkZjZmNDgyYjQ1XC9kZThubGliLTZiZWQ3YjNkLTNkN2UtNDc2My1iYjYwLTE4ZjVlZTAxMjdmZC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ZVgNGi61AOkC068E-wphWmAUW8amj0MiJySqDcMCVh8");
  background-color: rgb(17, 111, 151);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.loading-container {
  /* Add loading container styles here */
}

.input {
  background-color: rgba(255, 205, 5, 0.91);
  border: 2px solid rgb(52, 101, 175);
  border-radius: 10px;
  height: 1.6rem;
}

.searchButton {
  background-color: rgba(255, 205, 5, 0.74);
  color: rgb(52, 101, 175);
  border: 2px solid rgb(52, 101, 175);
  border-radius: 10px;
  height: 1.9rem;
}

.searchForm {
  height: 2rem;
}

/* Add styles for other components as needed */
